{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Home{% endblock %}

{% block nav %}
<!--<div class="container">-->
<!--    <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">-->
<!--        <li class="nav-item sidebar-item">-->
<!--            <a class="nav-link pl-0 " href="{% url 'main:index' %}#profile">-->
<!--                <i class="fa fa-star fa-fw"></i>-->
<!--                <span class="font-weight-bold sidebar-link">Summary</span>-->
<!--            </a>-->
<!--        </li>-->
<!--        <li class="nav-item sidebar-item ">-->
<!--            <a class="nav-link pl-0" href="{% url 'main:index' %}#technology">-->
<!--                <i class="fa fa-heart-o fa-fw"></i>-->
<!--                <span class="d-none d-md-inline sidebar-link">Technology</span>-->
<!--            </a>-->
<!--        </li>-->
<!--        <li class="nav-item sidebar-item">-->
<!--            <a class="nav-link pl-0" href="{% url 'main:index' %}#work">-->
<!--                <i class="fa fa-book fa-fw"></i>-->
<!--                <span class="d-none d-md-inline sidebar-link">Experience</span>-->
<!--            </a>-->
<!--        </li>-->
<!--        <li class="nav-item sidebar-item">-->
<!--            <a class="nav-link pl-0" href="{% url 'main:index' %}#school">-->
<!--                <i class="fa fa-heart codeply fa-fw"></i>-->
<!--                <span class="d-none d-md-inline sidebar-link">School</span></a>-->
<!--        </li>-->
<!--    </ul>-->
<!--</div>-->
{% endblock %}

{% block content %}
    <div class="container col-20 profile home-section" id="profile" >
        <h1 class="mt-3 main-name">{{ profile.first_name }} {{ profile.last_name }}</h1>
        <hr class="mt-0 mb-10">
        <div class="row profile-row wrapper">
            <div class="col-sm-8 profile-summary-column">
                <h4 class="mt-1 main-name">{{ profile.occupation }}</h4>
                <div class="profile-summary">
                    <div class="bio-text">
                        {{ profile.bio }}
                    </div>
                </div>
            </div>
            <div class="col-sm-4 profile-summary-column ">
                <img src="{% static 'main/images/ppic.jpeg' %}" class="summary-img">
            </div>
        </div>
    </div>
    <div class="container col-20 technology home-section" id="technology">
        <h3>Technology</h3>
        <hr class="mt-0 mb-10">
        <div class="row technology">
            {% if category %}
                {% for cat in category %}
                    <div class="col-sm-4 tech-column">
                        <h4>{{ cat }}</h4>
                        <ul>
                            {% for tech in technologies %}
                                {% if tech.category == cat %}
                                    <li>
                                        {{ tech }}
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: {{ tech.proficiency }}%"
                                                 aria-valuenow="{{ tech.proficiency }}" aria-valuemin="0" aria-valuemax="100">
                                                {{ tech.proficiency }}%
                                            </div>
                                        </div>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="row technology">
            {% if category2 %}
                {% for cat2 in category2 %}
                    <div class="col-sm-4 tech-column">
                        <h4>{{ cat2 }}</h4>
                        <ul>
                            {% for tech in technologies %}
                                {% if tech.category == cat2 %}
                                    <li>
                                        {{ tech }}
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: {{ tech.proficiency }}%"
                                                 aria-valuenow="{{ tech.proficiency }}" aria-valuemin="0" aria-valuemax="100">
                                                {{ tech.proficiency }}%
                                            </div>
                                        </div>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="container col-20 work home-section" id="work">
        <h3>Work Experience</h3>
        <hr class="mt-0 mb-10">
        {% if work_experience %}
            {% for work in work_experience %}
                {% if work.extra == False %}
                    <div class="container job-row {{ work.work_name }}">
                        <h4>{{ work }}</h4>
                        <h5>{{ work.work_name }} </h5>
                        <h6>{{ work.city }}, {{ work.state }}, {{ work.country }}</h6>
                        <div class="work-period">
                            <span class="text-muted" >
                                From {{ work.from_month }} {{ work.from_year }} to {% if work.is_current_job %} Present {% else %} {{ work.end_month }} {{ work.end_year }} {% endif %}
                            </span>
                        </div>
                        <div class="work-description container row">
                            {{ work.description }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    <div class="container col-20 school home-section" id="school">
        <h3>Education</h3>
        <hr class="mt-0 mb-10">
        {% if schools %}
            {% for school in schools %}
                <div class="container school-row {{ school.degree }}">
                    <h4>{{ school.degree }}</h4>
                    <h5>{{ school.major }}</h5>
                    <h6>{{ school.school }}, {{ school.city }}, {{ school.state }}, {{ school.country }}</h6>
                    <div class="school-period">
                        <span class="text-muted" >
                            From {{ school.from_month }} {{ school.from_year }} to {% if school.is_current_school %} Present {% else %} {{ school.end_month }} {{ school.end_year }} {% endif %}
                        </span>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
