{% extends 'resume/base.html' %}

{% block content %}
    <section class="resume-section  align-items-center" id="contact_sent">
        <div class="container">
            <br><br><br>
        <!-- Contact Section Heading -->
            <h2 class="text-center text-uppercase text-secondary mb-0">Contact Me</h2>

            <!-- Contact Section Form -->
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <p>Your message has been sent....</p>
                    <a href={% url 'resume:home' %}> Go back to home page</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}