{% extends 'resume/base.html' %}
{% load static %}

{#{% block links %}#}
{#     <link rel="stylesheet" type="text/css" href={% static "resume/vendor/portfolio/fontawesome-free/css/all.min.css" %}>#}
{#{% endblock %}#}

{% block nav %}
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#personal_projects">Personal Projects</a>
        </li>
        <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#work_projects">Work Projects</a>
        </li>
        <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#school_projects">School Projects</a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="personal_projects">
        <div class="w-100">
            {% if personal_projects %}
                <h2 class="mb-4">Personal Projects</h2>
                 <hr class="m-1">
                <div class="row">

                    <!--Project Object -->
                    {% for project in personal_projects %}
                        <div class="col-md-6 col-lg-4" >
                            <div class="portfolio-item mx-auto border-right" data-toggle="modal" data-target="#portfolioModal1">
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="portfolio-item-caption-content text-center text-white">
                                        <i class="fas fa-plus fa-3x"></i>
                                    </div>
                                </div>
                                <a target="_blank" href={% url 'resume:project' project.id %}>
                                    <h3 class="mb-3">{{ project.project_name }}</h3>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5>Technology</h5>
                                            <ul class="list-unstyled">
                                                {% for tech in tech_used %}
                                                    {% if tech.project == project %}
                                                        <li>{{tech.technology}}</li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <h5>Tasks</h5>
                                            <ul class="list-unstyled">
                                                {% for task in tasks %}
                                                    {% if task.project == project %}
                                                        <li>{{task.title}}</li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="col-md-3">
                                            <img alt="" src={{ project.project_image }} >
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            {% endif %}
        </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="work_projects">
        <div class="w-100">
            {% if work_projects %}
                <h2 class="mb-4">Work Projects</h2>
                <hr class="m-1">
                <div class="row">

                    <!--Project Object -->
                    {% for project in work_projects %}
                        <div class="col-md-6 col-lg-4">
                            <div class="portfolio-item mx-auto border-right" data-toggle="modal" data-target="#portfolioModal1">
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="portfolio-item-caption-content text-center text-white">
                                        <i class="fas fa-plus fa-3x"></i>
                                    </div>
                                </div>
                                <a target="_blank" href={% url 'resume:project' project.id %}>
                                    <h3 class="mb-3">{{ project.project_name }}</h3>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5>Technology</h5>
                                            <ul class="list-unstyled">
                                                {% for tech in tech_used %}
                                                    {% if tech.project == project %}
                                                        <li>{{tech.technology}}</li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <h5>Tasks</h5>
                                            <ul class="list-unstyled">
                                                {% for task in tasks %}
                                                    {% if task.project == project %}
                                                        <li>{{task.title}}</li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            {% endif %}
        </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="school_projects">
        <div class="w-100">
            {% if school_projects %}
                <h2 class="mb-4">School Projects</h2>
                <hr class="m-1">
                <div class="row">

                    <!--Project Object -->
                    {% for project in school_projects %}
                        <div class="col-md-6 col-lg-4">
                            <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="portfolio-item-caption-content text-center text-white">
                                        <i class="fas fa-plus fa-3x"></i>
                                    </div>
                                </div>
                                <a target="_blank" href={% url 'resume:project' project.id %}>
                                    <h3 class="mb-3">{{ project.project_name }}</h3>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5>Technology</h5>
                                            <ul class="list-unstyled">
                                                {% for tech in tech_used %}
                                                    {% if tech.project == project %}
                                                        <li>{{tech.technology}}</li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <h5>Tasks</h5>
                                            <ul class="list-unstyled">
                                                {% for task in tasks %}
                                                    {% if task.project == project %}
                                                        <li>{{task.title}}</li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            {% endif %}
        </div>
    </section>
    <hr class="m-0">
{% endblock %}