{% extends 'resume/base.html' %}
{% load static %}

{#{% block links %}#}
{#    <link rel="stylesheet" href={% static 'resume/vendor/resume/bootstrap/css/bootstrap.min.css' %}>#}
{#{% endblock %}#}

{% block nav %}
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
        </li>
        <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
        </li>
        <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#education">Education</a>
        </li>
        <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#certifications">Certifications</a>
        </li>
        <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#interests">Interests</a>
        </li>

    </ul>
{% endblock %}

{% block content %}

    {% if profile %}
    {# About Section #}
        <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
            <div class="w-100">

                <h1 class="mb-0">
                    {{ profile.first_name }} <span class="text-primary">{{ profile.last_name }}</span>
                </h1>
                <div class="subheading mb-5">
                    {{ profile.location_city }}, {{ profile.location_state }} ·
                    <a href="mailto:devkevengineer@gmail.com">{{ profile.email2 }}</a>
                </div>
                <div class="container">
                    <p class="lead mb-5">
                        {{ profile.bio }}
                    </p>
                </div>
                <div class="social-icons">
                    <a target="_blank" rel="noopener noreferrer" href={{ profile.linkedin }} >
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a target="_blank" rel="noopener noreferrer" href={{ profile.github }}>
                        <i class="fab fa-github"></i>
                    </a>
                    <a target="_blank" rel="noopener noreferrer" href={{ profile.bitbucket }}>
                        <i class="fab fa-bitbucket"></i>
                    </a>
                </div>

            </div>
        </section>
        <hr class="m-0">
    {% endif %}

    {% if technologies %}
    {# Tools and Skills#}
    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
        <div class="w-100">

            <h2 class="mb-5">Skills</h2>
            <div class="row technology">
                {% for cat in cat_set_one %}
                    <div class="col-sm-4 tech-column">
                        <h5>{{ cat }}</h5>
                        <ul class="list-unstyled">
                            {% for tech in technologies %}
                                {% if tech.category == cat %}
                                    <li>
                                        {{ tech }}
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped bg-success"
                                                 role="progressbar" style="width: {{ tech.proficiency }}%"
                                                 aria-valuenow="{{ tech.proficiency }}" aria-valuemin="0"
                                                 aria-valuemax="100">
                                                {{ tech.proficiency }}%
                                            </div>
                                        </div>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
            <br>
            <div class="row technology">
                {% for cat2 in cat_set_two %}
                    <div class="col-sm-4 tech-column">
                        <h5>{{ cat2 }}</h5>
                        <ul class="list-unstyled">
                            {% for tech in technologies %}
                                {% if tech.category == cat2 %}
                                    <li>
                                        {{ tech }}
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped bg-success"
                                                 role="progressbar" style="width: {{ tech.proficiency }}%"
                                                 aria-valuenow="{{ tech.proficiency }}" aria-valuemin="0"
                                                 aria-valuemax="100">
                                                {{ tech.proficiency }}%
                                            </div>
                                        </div>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>

        </div>
    </section>
    <hr class="m-0">
    {% endif %}

    {% if jobs %}
    {# Experience Section #}
        <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
            <div class="w-100">
                <h2 class="mb-5">Work Experience</h2>
                {% for job in jobs %}
                    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="resume-content">
                            <h3 class="mb-0">{{ job.position }}</h3>
                            <div class="subheading mb-3">
                                <a target="_blank" href={{ job.link }}>{{ job.work_name }}</a>
                            </div>
                            <p>{{ job.description }}</p>
                        </div>
                        <div class="resume-date text-md-right">
                            <span class="text-primary">
                                {{ job.start_date }} -
                                {% if job.is_current_job %} Present {% else %} {{ job.end_date }} {% endif %}
                            </span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    <hr class="m-0">
    {% endif %}

    {% if schools %}
    {# Education Section #}
        <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
            <div class="w-100">

                <h2 class="mb-5">Education</h2>
                {% for school in schools %}
                    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="resume-content">
    {#                            <h3 class="mb-0"></h3>#}
                            <div class="subheading mb-3">{{ school }}</div>
                            <div>{{ school.school }}, {{ school.location }}</div>
                        </div>
                        <div class="resume-date text-md-right">
                            <span class="text-primary">
                                {{ school.start_date }} -
                                {% if school.is_current_school %} Present {% else %} {{ school.end_date }} {% endif %}
                            </span>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </section>
    <hr class="m-0">
    {% endif %}

    {% if certificates %}
    {# Awards and certification #}
        <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="certifications">
            <div class="w-100">

                <h2 class="mb-5">Certifications</h2>
                <ul class="fa-ul mb-0">
                {% for cert in certificates %}
                    <li>
                        <i class="fa-li fa fa-certificate text-warning"></i> {{ cert }}
                        <span class="text-primary">
                            ({{ cert.issue_date }})
                        </span>
                    </li>
                {% endfor %}
                </ul>

            </div>
        </section>
        <hr class="m-0">
    {% endif %}

    {% if profile.interest %}
        {# Interest Section #}
        <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
            <div class="w-100">
                <h2 class="mb-5">Interests</h2>
                <p class="mb-0"> {{ profile.interest }} </p>
            </div>
        </section>
    {% endif %}

{% endblock %}