{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Contact{% endblock %}
{% block content %}
    <div class="col-20 contact home-section" id="contact">
        {% if messages %}
            {% for msg in messages %}
                <div class="alert alert-{{ msg.tags }}">
                    {{ msg }}
                </div>
            {% endfor %}
        {% endif %}
        <h1 class="mt-3 main-name">Contact</h1>
        <hr class="mt-0 mb-10">
        <div class="container contant-row row">
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}
