
.sidebar-link{
    color:#FFFFFF;
    size:16px;
}
.sidebar-item{
    margin-bottom:20px;
}


/************ Home Page ****************/
div.home-section{
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left:20px;
    margin-right:20px;
}


/*----Technology------*/
div.progress{
    height:10px;
}

div.technology{
    margin-bottom:20px;
}
/*---------------------*/

/*-----Profile----------*/
img.summary-img{
    border-radius:8px;
    right: 0px;
}
/*div.profile-summary{
    position:absolute;
    bottom: 0
}*/
/*----------------------*/


/*------Work------------*/
div.job-row{
    margin-top:20px;
    margin-bottom:20px;
}
/*------------------------*/

/*------School------------*/
div.school-row{
    margin-top:20px;
    margin-bottom:20px;
}

/*------------------------*/
/************************************/
