{% extends 'resume/base.html' %}
{% load static %}

{% block nav %}
    <p style="color: white">
        {{ profile.short_bio }}
        <a class="underline" style="color: white" href={% url 'resume:portfolio' %}>Continue reading --></a>
    </p>
{% endblock %}

{% block content %}
    {% for blog in blogs %}
        <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="blog{{ blog.id }}">
            <div class="mb-5 w-100">
                <h3 class="mb-5">{{ blog.topic }}</h3>
                <span class="text-primary">{{ blog.date }}</span>
                <div class="container text-left">
                    <p class="lead mb-5">
                        {{ blog.short_post | linebreaks }}
                        <a href={% url 'blog:blog_detail' blog.topic %}>Continue reading --></a>
                    </p>
                </div>
            </div>
        </section>
    {% endfor %}
{% endblock %}